* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  background-color: #000;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
}
.container .screen {
}

.screen .extra-display {
  height: 40px;
  color: #ffffffb7;
  display: flex;
  justify-content: right;
  align-items: end;
}

.screen .main-display {
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.button p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 2.5px;
  color: #fff;
  font-size: 16px;
}

.button p:hover {
  cursor: pointer;
}

.button .row {
  display: flex;
}

.button p.function {
  background-color: #a5a5a5;
  color: #000;
}

.button p.operand {
  background-color: #ff9f0a;
}

.button p.number {
  background-color: #333333;
}
